# Virtual environment
"\myenv"

# Python cache files
__pycache__/
*.pyc

# Environment files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# MacOS Finder metadata
.DS_Store

# Exclude Poppler directory
poppler/

# Windows thumbnails
Thumbs.db
